# Build folders
bin/
obj/

# User-specific files
*.user
*.suo

# Visual Studio
.vs/

# Database
*.db

# Logs
*.log

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Rider
.idea/

# JetBrains
*.sln.iml


# Optional
*.docx


vaultrix.db
Project.m4a
vaultrix.db-shm
vaultrix.db-wal